    .state {
        stroke: #a9a9a9;
        stroke-width: 1;
    }
    .state:hover{
        fill-opacity:0.2;
    }
    #tooltip {   
        position: absolute;
        width: auto;

        text-align: center;           
        padding: 4px;
        margin: 10px;

        color: white;
        opacity: 0; 

        font: 12px sans-serif;        

        background:rgba(0,0,0,0.9);
        border:1px solid grey;   
        border-radius: 2px;           
        pointer-events: none;  
    }
    #tooltip h4{
        margin:0;
        font-size:14px;
    }

    #tooltip table{
        table-layout:fixed;
    }
    #tooltip tr td{
        padding:0;
        margin:0;
    }
    #tooltip tr td:nth-child(1){
        width:50px;
    }
    #tooltip tr td:nth-child(2){
        text-align:center;
    }
    select {
        padding: 10px;
        margin: 10px;
    }
    body #statesvg {
        width: 70%;
        height: 85%;
    }

    body #chartcontainer {
        width: 25%;
        height: 85%;
    }
    html, body {
        height: 100%; 
        width: 100%; 
        margin: 0; 
    }

    #chart rect {
        fill: #6a7b8d;
    }

    .axis text {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    #citation {
        float: right;
        padding: 10px;
        margin: 10px;
    }

    h2 {
        text-align: center;
    }

    select {
        position: relative;
        left: 48%;
/*        color: white;
        background-color: black;*/
    }

    #float-message {
        position: absolute;
        margin-left: 50%;
        font-size: 100px;
    }

    #desc {
        text-align: center;
    }
    .zero { fill: #ffffff; background-color: #ffffff;}
    .q0-8 { fill: #efedf5; background-color: #efedf5;}
    .q1-8 { fill: #dadaeb; background-color: #dadaeb;}
    .q2-8 { fill: #bcbddc; background-color: #bcbddc;}
    .q3-8 { fill: #9e9ac8; background-color: #9e9ac8;}
    .q4-8 { fill: #807dba; background-color: #807dba;}
    .q5-8 { fill: #6a51a3; background-color: #6a51a3;}
    .q6-8 { fill: #54278f; background-color: #54278f;}
    .q7-8 { fill: #3f007d; background-color: #3f007d;}
